/*****global*****/
html{
    font-family: 'Montserrat', sans-serif;

}

/*****corpo*****/
body{
    display: flex;
    width: auto;
    flex-flow: column;
    align-items: center;
    background-color: white;
}
.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px #773366 solid;
    margin: 3%;
    padding: 1%;
    background-color: #ffeebb;
    border-radius: 8px;
}



.calculadora{
    display: flex;
    flex-flow: column;
    
    
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: #773366 2px solid;
    border-radius: 8px;
    background-color:#ff66cc;
    
}
.headercalc{
    padding: 5%;
    gap: 5px;
    font-size: 1.5rem;
    background-color: #ffeebb;
    display: flex;
    flex-shrink: 2;
    
}
.headercalc input{
    width: 100%;
}
h2{
    background-color:#ffeebb;
    font-size: 1.4rem;
    padding: 5%;
    text-align: center;
}
textarea{
    background-color: white;
    padding: 0px;
    width: 80%;
    height: 80%;
    border-radius: 8px; 
    margin: 3%; 
}


.nota{
    border: 2px #773366 solid;
    border-radius: 8px;
}

.calcButton{
    height: 5%;
    margin: 2%;
    background-color: #773366;
    color: #ffeebb;
    border-radius: 8px;
}

.maintitle{
    border: 2px #773366 solid;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    background-color:#ff66cc;
    font-size: 1.5rem;
    padding: 9%;
    text-align: center;
}

.botao{
    background-color: #773366;
    color: #ffeebb;
    border-radius: 8px;
}
